@import '../Styles/Styles.css';
.encabezado{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    height: 42em;
    justify-content: space-around;
    align-items: center;
}

.encabezadoPortada {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.encabezaPortadaTitulos{
 
    width: 30%;
}
img{
    height: 18rem;
}
.encabezadoPortada{
    display: flex;
}
.encabezaPortadaTitulo p{
    font-size: var(--fontszise-Titulos-g);
    min-height: 50px;
}
.encabezaPortadaTitulo {
    padding-bottom: 9%;
}
.encabezaPortadaSubtitulo{
    font-size: var(--fontszise-Titulos-m);
    text-align: justify;
    padding-bottom: 1rem;
}
.encabezaPortadaPieIconos img{
    height: 2rem;
}
.encabezaPortadaPieIconos{
    display: flex;
    align-items: center;
    padding:.5rem;
}
.encabezaPortadaPieIconos p{
    padding-left: .5rem;
}
#logo{
    height: 20rem;
}
hr{
    width: 100%;
    border: .1rem solid var(--color-nexxus-2);
}

